{% extends 'base.html.twig' %}

{% block title "Our Health Specialists > #{specialist.fullName}" %}

{% block page_title specialist.fullName %}

{% block body %}

    <main>

        <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
                <div class="ml-4 mt-4">
                    <div class="flex items-center">
                        <div class="shrink-0">
                            <img class="size-12 rounded-full" src="{{ asset(specialist.profilePictureUrl) }}" alt="">
                        </div>
                        <div class="ml-4">
                            <h3 class="text-base font-semibold text-gray-900">{{ specialist.fullName }}</h3>
                            <p class="text-sm text-gray-500">
                                {{ specialist.introduction }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ml-4 mt-4 flex shrink-0">
                    <button type="button" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                        <svg class="-ml-0.5 mr-1.5 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z" />
                            <path d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z" />
                        </svg>
                        <span>Book Appointment</span>
                    </button>
                </div>
            </div>
        </div>

    </main>

{% endblock %}